* {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
  
  }

header {
    background: #333333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background: #333333;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
     
 }

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    
}
nav a:hover{
    color: rgb(60, 60, 150);
}

body{
    background-color: #ddd;
}
main{
    width: 1000px;
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 30px;
    margin-top: 25px;
    border-radius: 10px;
}

.noticia-principal img{
    width: 520px;
    border-radius: 0 10px;
}

.noticia-principal{
    background-color:wheat;
    padding: 30px;
    border-radius: 10px ;
    margin-bottom: 25px;
}

.cards {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

}

.card{
    width: 280px;
    background-color: #ddd;
    padding: 20px 15px;
    border-radius: 10px;
}

.cards img{
    max-width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
   
}
.cards h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}